html {
	height: 100% /*Make the body fill the entire page to expand the background*/
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #e9feff;
	text-align: center;
	background: url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

select {
	width: 100%;
	display:block;
	padding-bottom: 8px;
	margin:8px;
}
button {
	width: 100%;
	padding: 8px;
}

#question-container{
	-webkit-box-shadow: 10px 10px 49px 8px rgba(0,0,0,0.58);
	-moz-box-shadow: 10px 10px 49px 8px rgba(0,0,0,0.58);
	box-shadow: 10px 10px 49px 8px rgba(0,0,0,0.58);
	background-color: #5282ac5e;
	border-radius: 1.6em;
	margin:20px;
	padding: 20px;
	vertical-align: middle;
}

/*CODE GENERATED IN https://www.bestcssbuttongenerator.com*/
.my-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
	background:-moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
	background-color:#bddbfa;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.my-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
	background:-moz-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa',GradientType=0);
	background-color:#80b5ea;
}
.my-button:active {
	position:relative;
	top:1px;
}